<%- contentFor('body') %>
    <script  src="source/main.js"></script>
<div class="container-fluid  center ">
    <canvas id="myCanvas" width=800 height=500 class="img-fluid"></canvas><br>
    ここを本拠地とする！！！
</div>