<!DOCTYPE html>
<html>
<head>
    <title>UDS</title>
    <meta charset="UTF-8" />
    <script  src="source/main.js"></script>
</head>

<body>

<canvas id="myCanvas"></canvas><br>
ここを本拠地とする！！！

</body>
</html>
